@page
@model FuelLogger.Pages.Vehicles.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle[0].RegistrationNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vehicle[0].InitialOdometerReading)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Vehicle) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InitialOdometerReading)
            </td>
            <td>
                <a class="btn btn-sm btn-success" asp-page="./Edit" asp-route-id="@item.Id">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a> 
                <a class="btn btn-sm btn-info" asp-page="./Details" asp-route-id="@item.Id">
                    <span class="glyphicon glyphicon-list"></span>
                </a> 
                <a class="btn btn-sm btn-danger" asp-page="./Delete" asp-route-id="@item.Id">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
