@page
@model FuelLogger.Pages.FillUps.IndexModel
@using System.Collections.Specialized
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
    string myName = (SignInManager.IsSignedIn(User)) ? UserManager.GetUserAsync(User).Result.Name : "";
}

<h2>Fill ups (@myName)</h2>
<div class="form-group">
    <label class="control-label">Vehicle:</label>
    <select asp-for="SelectedVehicleId" asp-items="Model.AvailableVehicles" class="form-control" onchange="VehicleSelectChanged(this)"></select>
</div>

<br />
<p>
    <a class="btn btn-sm btn-success" asp-page="Create" asp-route-id="@Model.SelectedVehicleId">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.FillUp[0].Date)
            </th>
            <th class="col-sm-2">
                Miles / Litres
            </th>
            <th class="col-sm-2">
                MPG / Cost
            </th>
            <th class="col-sm-3">
                Notes
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.FillUp)
        {
            <tr>
                <td class="col-sm-2">
                    @item.Date.ToShortDateString()
                </td>
                <td>
                    @item.MileageDelta
                </td>
                <td>
                    @{
                        string styleString = "";
                        if (item.MPG < item.Vehicle.MPGLimits_Bad)
                        {
                            styleString = "btn-danger";
                        }
                        else if (item.MPG >= item.Vehicle.MPGLimits_Bad && item.MPG <= item.Vehicle.MPGLimits_OK)
                        {
                            styleString = "btn-warning";
                        }
                        else
                        {
                            styleString = "btn-success";
                        }
                    }
                    <div class="btn btn-sm @styleString">@item.MPG.ToString("##0.0")</div>
                </td>
                <td>
                    <a class="btn btn-sm btn-success" asp-page="./Edit" asp-route-id="@item.Id">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a class="btn btn-sm btn-info" asp-page="./Details" asp-route-id="@item.Id">
                        <span class="glyphicon glyphicon-list"></span>
                    </a>
                    <a class="btn btn-sm btn-danger" asp-page="./Delete" asp-route-id="@item.Id">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.DisplayFor(modelItem => item.Litres)
                </td>
                <td>
                    £ @((item.PricePerLitre * item.Litres).ToString("##0.00"))
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(@item.Note))
                    {
                        <P>Y</P>
                    }
                    else
                    {
                        <p>N</p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-sm btn-primary" asp-page="..\Index">Home</a>

@section Scripts{
    <script>
        function VehicleSelectChanged(object) {
            var id = $(object).val();
            window.location.href = window.location.protocol + window.location.pathname + "?id=" + id;
        }
    </script>
} 